body {
  background-color: black; /* Cambia el fondo a negro */
  color: white; /* Cambia el color del texto a blanco */
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  margin-top: 10px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
   display: flex;
  justify-content: center;
  
}

.pagination button {
  padding: 5px 10px;
  margin:  5px;
  border: 2px solid #180e0e;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
  
}
